# Ignore Python virtual environment
venv/

# Ignore IDE or editor specific files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore environment-specific files
.env

# Ignore system and temporary files
Thumbs.db
.DS_Store
